@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
     :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient( to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}


/* Add CSS for image enlargement effect */

.enlarge-on-hover {
    transition: transform 0.3s ease;
}

.image-container:hover .enlarge-on-hover {
    transform: scale(2);
    /* Scale the image to 1.5 times its original size */
}

@media (max-width: 768px) {
    .image-container:hover .enlarge-on-hover {
        transform: scale(1.2);
        /* For smaller screens, scale the image to 1.2 times its original size */
    }
}